@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);


#wrapper{
  margin: 0px auto;
  max-width: 960px;
  min-width: 883px;
}

body{
  font-family: droid serif;
  font-size: 12pt;
  color: black;
  line-height: 1.4em;
  background-color: rgb(205, 205, 205);
}

h1{
  font-family: shadows into light;
  text-align: center;
  font-size: 63pt;
  color: black;
  margin-bottom: .60in;
  margin-top: .5in;
  margin-left: 152.5px;
  margin-right: 152.5px;
}

nav ul{
  list-style: none;
  border-bottom-style: double;
  border-width: thick;
}

nav li{
  display: inline-block;
  padding-right: 55px;
  padding-left: 55px;
}

a{
  color: rgb(196, 133, 152);
  text-decoration: none;
}

a:visited{
  color: rgb(125, 71, 103);
}

a:hover{
  color: rgb(194, 178, 178);
}

a:active{
  color: rgb(38, 26, 40);
}

h2{
  font-family: shadows into light;
  font-size: 25pt;
  color: black;
  margin-bottom: 0in;
}

h3{
  font-family: shadows into light;
  font-size: 20pt;
  color: black;
  margin-bottom: 0in;
}

.column1of2{
  float:left;
  width: 350px;
  margin-right: 70px;
  margin-left: 0px;
}

.column2of2{
  float:left;
  width: 350px;
  margin:10px;
}

footer{
  font-size: 10pt;
  font-weight: bolder;
  float: clear;
}

.clear{
  clear:both;
}
