@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);


#wrapper{
  margin: 0px auto;
  max-width: 960px;
  min-width: 883px;
}

/*html {
  background-image: url(symphony.png);
  background-position: 1px 1px;
  background-repeat:repeat-x;
  background-clip:padding-box;
}*/

body{
  font-family: droid serif;
  font-size: 12pt;
  color: black;
  line-height: 1.4em;
}

#home_body{
background-image: url(symphony.png);
}

h1{
  font-family: shadows into light;
  text-align: center;
  font-size: 63pt;
  color: black;
  margin-bottom: .60in;
  margin-top: .5in;
  margin-left: 152.5px;
  margin-right: 152.5px;
  /*background-image: url(symphony.png);
  background-position: 1px 1px;
  background-repeat:repeat-x;
  background-clip:padding-box;*/
}

#home{
 font-size: 100pt;
 margin-left: 0px;
 margin-right: 0px;
 margin-top:3in;
 padding-bottom: 10px;
}

nav ul{
  list-style: none;
  border-bottom-style: double;
  border-width: thick;
}

nav li{
  display: inline-block;
  padding-right: 55px;
  padding-left: 55px;
}

#home_nav {
  padding-right: 110px;
  padding-left: 118px;
  font-size: 15pt;
}

#published_work_nav{
  padding-right: 100px;
  padding-left: 130px;
}

a{
  color: rgb(196, 133, 152);
  text-decoration: none;
}

a:visited{
  color: rgb(125, 71, 103);
}

a:hover{
  color: rgb(194, 178, 178);
}

a:active{
  color: rgb(38, 26, 40);
}

h2{
  font-family: shadows into light;
  font-size: 25pt;
  color: black;
  margin-bottom: 0in;
}

h3{
  font-family: shadows into light;
  font-size: 20pt;
  color: black;
  margin-bottom: 0in;
}

.column1of2{
  float:left;
  width: 350px;
  margin-right: 70px;
  margin-left: 0px;
}

.column2of2{
  float:left;
  width: 350px;
  margin:10px;
}

footer{
  font-size: 10pt;
  font-weight: bolder;
  float: clear;
}

#home_footer{
  font-size: 8pt;
  padding-top: 60px;
  padding-left: 80px;
}

.clear{
  clear:both;
}
